<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Purchase Made!</h1>
    <p>
      User information:
    </p>
    <p>
      Name: <%= @user.name %>
    </p>
    <p>
      Email: <%= @user.email %>
    </p>
    <p>
      Shipping Address: <%= @user.shipping_address %>
    </p>
    <p>
      Wants Giftwrap: <%= @user.giftwrap %>
    </p>
  </body>
</html>
