<!--
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
-->

<% provide(:title, 'User Information') %>
<h1>User Information</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :shipping_address %>
      <%= f.text_field :shipping_address %>

      <%= f.label :billing_address %>
      <%= f.text_field :billing_address %>

      <%= f.label :card_number %>
      <%= f.text_field :card_number %>

      <%= f.label :card_expiration_date %>
      <%= f.text_field :card_expiration_date %>

      <%= f.label :card_security_code %>
      <%= f.text_field :card_security_code %>

      <%= f.label :giftwrap %>
      <%= f.check_box :giftwrap %>

      <!--
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      -->

      <%= f.submit "Confirm Purchase", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
