<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Buy your Minion Now!", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
          </ul>
        </nav>
      </div>
    </header>

  <table style="width:100%">
    <tr>
      <th rowspan="2"><%= link_to image_tag('minion.jpg', alt: "minion"),
                       root_path %></th>
      <th valign="top">Product Description</th>
    </tr>
    <tr>
      <td valign="top">
        Talking Minion Dave:</p> 
        Press his pocket or move his head left, right, forward and back for reactions.
        Soft skin upper body.
        25 Minion sayings and sound effects.
        Free moving eyes and arms.
        Approximately 7.5" tall. 
      </td>
    </tr>
  </table>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
